<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a.b.c.quizmania">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.RegisterActivity" />
        <activity android:name=".UI.MainMenuActivity" />
        <activity android:name=".UI.SelectionActivity" />
        <activity android:name=".UI.ProfileActivity" />
        <activity android:name=".UI.QuestionActivity" />
        <activity android:name=".UI.StatisticsActivity" />
        <activity android:name=".UI.SinglePlayerResultsActivity"></activity>
        <activity android:name=".UI.UserListActivity" />
        <activity android:name=".UI.ChallengeListActivity"></activity>
    </application>

</manifest>